############################
# OS (macOS)
############################
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

############################
# IntelliJ IDEA
############################
.idea/
*.iml
*.iws
out/

# Sonar / autres plugins éventuels
.sonar/
.idea_modules/

############################
# Maven
############################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

############################
# Logs & compilés Java
############################
*.class
*.log
*.tmp

############################
# Environnements / secrets
############################
.env
*.env.local
*.env.*.local
*.local.properties

############################
# Docker / BDD (si tu ajoutes des volumes locaux)
############################
docker-data/
db-data/
pgdata/
*.pid
*.pid.lock

############################
# Éditeurs / backups
############################
*~
*.swp
*.swo

############################
# Archives
############################
*.zip
*.tar
*.tar.gz
